.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logoimg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    width: 45%;
}

.location{
    border-radius: 5px;
    margin-left: 50px;
}

.btn,
.icon {
    margin-left: 20px;
}